.boxcont{
    padding: 0px 0px !important;
    height:450px;
    width:auto;
    border:1px solid #ccc;
    background-color: white;
    overflow:auto;
    margin-left: auto;
    margin-right: auto;
  }
  
  .btn-contrato{
    margin-left: 50px !important;
    display: inline-block !important;
    float: none;
  }
  
  .funcbuttons{
    text-align: center;
  }