    input[type=file] {
        display: none;
    }
    .file-input { 
        // height: 35px !important;
        display: block;
        align-items: center;
        .preview {
            width: 35px;
            height: 35px;
            border: 1px solid #ccc;
            float: left;
            border-radius: 5px;
            background-position: center center;
            background-size: cover;
            margin-right: 10px;
            margin-top: 5px;
            min-width: 25px
        }
        .fileContent {
            float: left;
            align-self: auto;
            // margin-top: px;
            // padding-top: 5px;
            cursor: pointer;
            width: auto;
        }
    }