.modal-footer{
    text-align: center !important;
    display: block !important;
}

.modal-header{
    padding: 0px;
}

.modal-body{
    text-align: center;
}

.btnModal{
    background-color: #ED1C24!important;
    color: #fff!important;
    text-align: center;
    font-family: 'Chivo';
    font-size: 15px;
    width: 65px;
    height: 35px;
    border: none;
    border-radius: 4px;
}