    <div class="modal-header" style="background-color: whitesmoke">
        <h5 class="modal-title py-2" id="bloqueioMatricula"><i class="fas fa-exclamation-triangle mr-2"></i><b>Nenhum responsável declarado</b></h5>
      </div>
      <div class="modal-body">
        O responsável financeiro e pedagógico não foi declarado acima, isso está correto?
      </div>
      <div class="modal-footer">
        <button type="button" style="float:right" class="btnModal" (click)="submit(true)">Sim</button>
        <button type="button" style="float:left" class="btnModal" (click)="submit(false)">Não</button>
      </div>