.card-header{
    background-color:#ED1C24!important;
    color: #fff !important;
    border-radius: 4px;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid #ccc;
  }

  i{
    cursor: pointer;
  }