<div class="content-wrapper">
  <section class="content-header">
    <app-etapa [pagina]="'aluno'" [idMatricula]="idMatricula" [navega]="navega"></app-etapa>
  </section>
  <section class="content">
    <div class="content">
      <form [formGroup]="f" novalidate>
        <h3 class="bordabaixo">Etapa 1/9 - Preencha os dados do aluno</h3>
        <div class="submenu">
          <div formGroupName="aluno">
            <div formGroupName="Documento">
              <div class="row topo" >
                <div class="col-sm-5">
                  <label>CPF:</label>
                    <input type="text" class="form-control" formControlName="cpf" id="inputTextAlunoDocumentoCPF" mask="000.000.000-00" (blur)="consultaPessoaCPF($event)"/>
                    <input-spinner *ngIf="spinnerCpf"></input-spinner>
                </div>
                <div class="col-sm-3">
                  <label class="required">RG:</label>
                  <div  class="form-group has-feedback"  for="rg" [ngClass]="aplicaCssErro('aluno.Documento.rg')">
                    <input type="text" class="form-control" formControlName="rg" id="rg" mask="0{2}.0{3}.0{3}-A{2}"/>
                    <app-error-msg [control]="f.get('aluno.Documento.rg')" label="RG"></app-error-msg>
                  </div>
                </div>
                <div class="col-sm-3">
                  <label class="required">Órgão Emissor:</label>
                  <select class="form-control" formControlName="rgEmissor" id="inputTextDocumentosRgEmissor">
                    <option value>Selecione...</option>
                    <option *ngFor="let item of listaOrgaosEmissores" [value]="item.idorgaoemissor">{{item.nome}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div formGroupName="Basicos">
              <div class="row">
                <div class="col-sm-8">
                  <label class="required">Nome do Aluno:</label>
                  <div  class="form-group has-feedback"  for="inputTextBasicosNome" [ngClass]="aplicaCssErro('aluno.Basicos.nome')">
                    <input type="text" formControlName="nome" id="inputTextBasicosNome" class="form-control"/>
                    <app-error-msg [control]="f.get('aluno.Basicos.nome')" label="Nome"></app-error-msg>
                  </div>
                </div>
                <div class="col-sm-4">
                  <label class="required">Nascimento:</label>
                  <div class="form-group has-feedback " for="inputTextAlunoBasicosNascimento" [ngClass]="aplicaCssErro('aluno.Basicos.dataNascimento')">
                    <input type="text" class="form-control" formControlName="dataNascimento" id="inputTextAlunoBasicosNascimento" mask="00/00/0000" [dropSpecialCharacters]="false"/>
                    <app-error-msg [control]="f.get('aluno.Basicos.dataNascimento')" label="Data nascimento"></app-error-msg>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <label class="required">Identidade de gênero:</label>
                  <div class="form-group has-feedback " for="inputTextBasicosSexo" [ngClass]="aplicaCssErro('aluno.Basicos.sexo')">
                    <select class="form-control" formControlName="sexo" id="inputTextBasicosSexo" >
                      <option value>Selecione...</option>
                      <option *ngFor="let tipoSexo of listaTipoSexos" [value]="tipoSexo.id"> {{tipoSexo.descricao}}</option>
                    </select>
                    <app-error-msg [control]="f.get('aluno.Basicos.sexo')" label="Identidade de gênero"></app-error-msg>        
                  </div>
                </div>
                <div class="col-sm-4">
                  <label class="required">Nacionalidade:</label>
                  <div class="form-group has-feedback" for="inputTextBasicosidNacionalidade" [ngClass]="aplicaCssErro('aluno.Basicos.idNacionalidade')">
                    <select class="form-control" formControlName="idNacionalidade" id="inputTextBasicosidNacionalidade">
                      <option value>Selecione...</option>
                      <option *ngFor="let tipoNacionalidade of listaNacionalidades" [value]="tipoNacionalidade.idNacionalidade">{{tipoNacionalidade.descricao}}</option>
                    </select>
                    <app-error-msg [control]="f.get('aluno.Basicos.idNacionalidade')" label="Nacionalidade"></app-error-msg>        
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-5">
                  <label>E-mail:</label>
                  <div class="form-group has-feedback" for="inputTextBasicosEmail" [ngClass]="aplicaCssErro('aluno.Basicos.email')">
                    <input type="text" class="form-control" formControlName="email" id="inputTextBasicosEmail"/>
                    <app-error-msg [control]="f.get('aluno.Basicos.email')" label="Nacionalidade"></app-error-msg>        
                  </div>
                </div>
                <div class="col-sm-3">
                  <label>Telefone Residencial:</label>
                  <input  type="text"  class="form-control"  formControlName="telefonefixo"  id="telefonefixo"  mask="(00)0000-0000"/>
                </div>
                <div class="col-sm-3">
                  <label>Telefone Celular:</label> 
                  <input type="text" class="form-control" formControlName="telefonecelular" id="telefonecelular" mask="(00)00000-0000"/>
                </div>
              </div>
            </div>
            <div formGroupName="Endereco">
              <h4 class="bordabaixo">Endereço</h4>
              <div class="row topo">
                <div class="col-sm-3">
                  <label class="required">CEP:</label>
                  <div class="form-group has-feedback " for="inputTextAlunoEnderecoCep" [ngClass]="aplicaCssErro('aluno.Endereco.cep')">
                    <input type="text" class="form-control" formControlName="cep" id="inputTextAlunoEnderecoCep" mask="00000-000" (blur)="consultaCEP(($event).target.value)"/>
                    <app-error-msg [control]="f.get('aluno.Endereco.cep')" label="CEP"></app-error-msg>        
                  </div>
                  <input-spinner *ngIf="spinnerCep"></input-spinner>
                </div>
                <div class="col-sm-6">
                  <label class="required">Logradouro:</label>
                  <div class="form-group has-feedback" for="inputTextAlunoEnderecoLogradouro" [ngClass]="aplicaCssErro('aluno.Endereco.logradouro')">
                    <input readonly type="text" class="form-control" formControlName="logradouro" id="inputTextAlunoEnderecoLogradouro" [readonly]="possuiCep" />
                    <app-error-msg [control]="f.get('aluno.Endereco.logradouro')" label="CEP"></app-error-msg>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <label class="required">Número:</label>
                  <div class="form-group has-feedback " for="inputTextAlunoEnderecoNumero" [ngClass]="aplicaCssErro('aluno.Endereco.numero')">
                    <input type="text" class="form-control" formControlName="numero" id="inputTextAlunoEnderecoNumero" />
                    <app-error-msg [control]="f.get('aluno.Endereco.numero')" label="Número"></app-error-msg>
                  </div>
                </div>
                <div class="col-sm-3">
                  <label>Complemento:</label>
                  <input type="text" class="form-control" formControlName="complemento" id="complemento"/>
                </div>
                <div class="col-sm-3">
                  <label class="required">Bairro:</label>
                  <div class="form-group has-feedback " for="inputTextAlunoEnderecoBairro" [ngClass]="aplicaCssErro('aluno.Endereco.bairro')">
                    <input readonly type="text" class="form-control" formControlName="bairro" id="inputTextAlunoEnderecoBairro" [readonly]="possuiCep" />
                    <app-error-msg [control]="f.get('aluno.Endereco.bairro')" label="bairro"></app-error-msg>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <label class="required">UF:</label>
                  <div class="form-group has-feedback " for="inputTextAlunoEnderecoUf" [ngClass]="aplicaCssErro('aluno.Endereco.idUf')">
                    <select class="form-control" formControlName="idUf"  (change)="onChangeCidade(($event).target.value)" [attr.disabled]="possuiCep" id="inputTextAlunoEnderecoUf">
                      <option value>Selecione...</option>
                      <option *ngFor="let item of listaEstados" [value]="item.idUf"> {{item.nome}}</option>
                    </select>
                    <app-error-msg [control]="f.get('aluno.Endereco.idUf')" label="UF"></app-error-msg>
                  </div>
                </div>
                <div class="col-sm-6">
                  <label class="required">Cidade:</label>
                  <div class="form-group has-feedback " for="inputTextAlunoEnderecoidCidade" [ngClass]="aplicaCssErro('aluno.Endereco.idCidade')">
                    <select class="form-control" formControlName="idCidade" [attr.disabled]="possuiCep" id="inputTextAlunoEnderecoidCidade">
                      <option value>Selecione...</option>
                      <option *ngFor="let item of listaCidades" [value]="item.idCidade"> {{item.nome}}</option>1
                    </select>
                    <app-error-msg [control]="f.get('aluno.Endereco.idCidade')" label="Cidade"></app-error-msg>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h4 class="bordabaixo">Curso</h4>
          <div formGroupName="matricula">
            <div class="row topo" >
              <div class="col-sm-3">
                <label class="required">Unidade:</label>
                <div class="form-group has-feedback " for="inputTextMatriculaidUnidade" [ngClass]="aplicaCssErro('matricula.idUnidade')">
                  <select class="form-control" formControlName="idUnidade" disabled (change)="onChangeCidade(($event).target.value)"  id="inputTextAlunoEnderecoUf">
                    <option value>Selecione...</option>
                    <option *ngFor="let item of listaUnidades" [value]="item.idUnidade"> {{item.descricao}}</option>
                  </select>
                  <app-error-msg [control]="f.get('matricula.idUnidade')" label="Unbidade"></app-error-msg>
                </div>
              </div>
              <div class="col-sm-3">
                <label class="required">Periodo Letivo:</label>
                <div class="form-group has-feedback " for="inputTextAlunoCursoPeriodoLetivo" [ngClass]="aplicaCssErro('matricula.idPeriodoLetivo')">
                  <select class="form-control" formControlName="idPeriodoLetivo" id="inputTextAlunoCursoPeriodoLetivo" disabled >
                    <option value>Selecione...</option>
                    <option *ngFor="let item of listaPeriodosLetivos" [value]="item.idPeriodoLetivo"> {{item.descricao}}</option>
                  </select>
                  <app-error-msg [control]="f.get('matricula.idPeriodoLetivo')" label="Periodo Letivo"></app-error-msg>
                </div>
              </div>
              <div class="col-sm-3">
                <label class="required">Serie:</label>
                <div class="form-group has-feedback " for="inputTextAlunoCursoSerie" [ngClass]="aplicaCssErro('matricula.idSerie')">
                  <select class="form-control" formControlName="idSerie" id="inputTextAlunoCursoSerie" disabled >
                    <option value>Selecione...</option>
                    <option *ngFor="let item of listaSeries" [value]="item.idSerie"> {{item.descricao}}</option>
                  </select>
                  <app-error-msg [control]="f.get('matricula.idSerie')" label="Série"></app-error-msg>
                </div>
              </div>
              <div class="col-sm-3">
                <label class="required">Turma:</label>
                <div class="form-group has-feedback " for="inputTextAlunoCursoTurma" [ngClass]="aplicaCssErro('matricula.idTurma')">
                  <select class="form-control" formControlName="idTurma" id="inputTextAlunoCursoTurma" disabled >
                    <option value>Selecione...</option>
                    <option *ngFor="let item of listaTurmas" [value]="item.idTurma"> {{item.descricao}}</option>
                  </select>
                  <app-error-msg [control]="f.get('matricula.idTurma')" label="Turma"></app-error-msg>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-5">
                <label>Escola anterior:</label>
                <input type="text" formControlName="escolaAnterior" class="form-control" />
              </div>
            </div>
          </div>
        </div>
        <div class="my-5">
          <button class="btn" id="proximo-btn" type="submit" (click)="onSubmit()"  [disabled]="(formStatus)">Próximo</button>
          <button class="btn integra" type="submit" (click)="integra('integra')" *ngIf="navega" [disabled]="(formStatus)">Atualizar</button>
        </div>
      </form>
    </div>
  </section>
</div>