<header class="main-header">
  <!-- Logo -->
  <a href="#" class="logo hidden-xs">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini "><img class="logoM" src="assets/img/logo_mini2.png"/></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg hidden-xs"><img class="logoT" src="assets/img/logo_branco.png"></span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini hidden-sm hidden-md hidden-lg"><img class="logo-xs" src="assets/img/logo_mini2.png" /></span>

    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Messages: style can be found in dropdown.less-->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img onerror="this.src='assets/img/profile-icon.png'" src="{{profile?.urlFoto}}" class="user-image" alt="User Image">
            <span class="hidden-xs">{{profile?.nome}}</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img onerror="this.src='assets/img/profile-icon.png'" src="{{profile?.urlFoto}}" class="img-circle" alt="User Image">
              <p>{{profile?.nome | titlecase}}</p>
            </li>
            <!-- Menu Body -->
            <!-- Menu Footer-->
            <li class="user-footer alignBtn">
              <button class="btn-resp btn-default btn-flat pull-left" [routerLink]="['/admin/profile']">Perfil</button>
              <button class="btn-resp btn-default btn-flat">Pedidos</button>
              <button class="btn-resp btn-default btn-flat pull-right" (click)="logout($event)">Sair</button>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
