.enviarBtn{
    
    color: white;
    text-align: center;
    vertical-align: middle !important;
    font-family: 'Chivo';
    font-size: 15px;
    width: 100px;
    height: 25px;
    border: none;
    padding: 1px 0px;
    border-radius: 4px;
    margin-bottom: 1px;
    margin-top: -1px;
    margin-left: 10px;
  }

  .vermelho{
    background-color: #ED1C24 !important;
  }

  .verde{
    background-color: #0BB143 !important;
  }

  .list-group{
    margin-bottom: 0px !important;
  }

  .list-group-item{
    display: flex;
    align-items: center;
    text-align: left;
  }
  .card{
    margin-bottom: 5px !important;
  }